:root {
  --main-text-color: #292f36;
  --second-text-color: #4d5053;
  --third-text-color: #cda274;
  --fourth-text-color: #ffffff;
  --main-bg: #f5f5f5;
  --second-bg: #f4f0ec;
  --third-bg: #292f36;
  --cards-bg: #ffffff;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0 auto;
  color: var(--main-text-color);
  background-color: var(--main-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1440px;
  background-color: var(--main-bg);
  margin: 0 auto;
}

.container {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 0 120px;
}

/**======== HEADER ========*/

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 18px;
}

.logo {
  font-family: 'DM Serif Display', sans-serif;
  color: var(--main-text-color);
  font-size: 40px;
  margin-bottom: 12px;
}

.logo-text {
  margin-left: 12px;
}

.header-menu {
  display: flex;
  gap: 40px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.header-menu-link {
  color: var(--main-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--third-text-color);
}

.header-menu-item {
  margin: 12px 0 20px;
}

/**======== HERO ========*/

.hero-section {
  padding: 188px 725px 248px 120px;
  background-image: url(./hero-bg.jpg);
  background-repeat: no-repeat;
  border-radius: 0 0 0 300px;
}

.hero-container {
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  max-width: 595px;
  font-family: 'DM Serif Display';
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 19px;
}

.hero-text {
  margin-bottom: 35px;
  max-width: 577px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.hero-btn {
  cursor: pointer;
  padding: 21px 65px 21px 32px;
  color: var(--fourth-text-color);
  background: var(--third-bg);
  border: 2px solid var(--third-bg);
  border-radius: 18px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.72px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--third-text-color);
  border: 2px solid var(--third-text-color);
}

/**======== SERVICES ========*/
.services-section {
  padding: 100px 120px;
}
.services-container {
}
.services-title {
  display: none;
}
.services-list {
  display: flex;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 43px;
}

.services-card-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 25px;
  line-height: 1.56;
  text-align: center;
  letter-spacing: 0.22px;
}
.services-text {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
  margin-top: 18px;
}
.services-link {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.36px;
  color: var(--second-text-color);
  margin-top: 64px;
}

.services-link:hover,
.services-link:focus {
  color: var(--third-text-color);
  text-decoration: underline;
}

/**======== CHALLENGE DESIGN ========*/

.section {
}
.challenge-design-container {
  display: flex;
  gap: 16px;
}
.challenge-design-textbox {
}

.challenge-design-title {
  font-family: 'DM Serif Display';
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 42px;
}

.challenge-design-text {
  max-width: 530px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.estimate-order-box {
  display: flex;
  align-items: center;
  padding: 40px 0 50px;
}

.estimate-order-box div {
  margin-left: 20px;
}

.estimate-order-link {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.estimate-order-text {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.estimate-order-btn {
  cursor: pointer;
  color: var(--fourth-text-color);
  background-color: var(--third-bg);
  border: 2px solid var(--third-bg);
  border-radius: 18px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.72px;
  padding: 22px 67px 22px 34px;
}

.estimate-order-btn:hover,
.estimate-order-btn:focus {
  color: var(--third-text-color);
  border: 2px solid var(--third-text-color);
}

/**======== REVIEWS ========*/

.reviews-section {
  padding: 140px 120px 100px;
}

.reviews-container {
  flex-direction: column;
}

.reviews {
  display: flex;
  flex-direction: column;
  background-color: var(--second-bg);
  padding: 103px 50px 120px;
  align-items: center;
  border-radius: 70px;
  margin-bottom: 140px;
}

.reviews-title {
  max-width: 479px;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 45px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 46px;
}

.reviews-list {
  display: flex;
  gap: 16px;
}

.reviews-card {
  width: calc((100% -32px) / 3);
  background-color: var(--cards-bg);
  border-radius: 30px;
  padding: 50px 35px 45px;
}

.customer-info {
  display: flex;
  gap: 20px;
  margin-bottom: 27px;
  align-items: center;
  justify-content: flex-start;
}

.customer-info-text {
  display: flex;
  flex-direction: column;
}

.reviews-customer-name {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
}

.reviews-customer-location {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.customer-comment {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.brands-container {
}

.brands-list {
  display: flex;
  gap: 115px;
  justify-content: space-between;
  align-items: center;
}

.brands-item {
}

/** ======== PROJECTS ======== */

.projects-section {
  padding-bottom: 80px;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.projects-title {
  font-family: 'DM Serif Display';
  font-size: 47px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.projects-text {
  max-width: 786px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
  margin-bottom: 71px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 20px;
  border-radius: 0px 80px 0px 0px;
}

.projects-cards {
  width: calc((100% - 20px) / 2);
}

.projects-card-text {
  justify-content: flex-start;
  margin-top: 26px;
}

.projects-card-name {
  font-family: 'DM Serif Display';
  font-size: 24px;
  line-height: 1.56;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
}

.projects-card-subtext {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.projects-card-link-box {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

/** ======== EXPERIENCE ======== */

.exp-section-title {
  display: none;
}

.exp-section {
  background-color: var(--second-bg);
  padding: 140px 120px;
}

.exp-cards {
  display: flex;
  gap: 16px;
}

.exp-cards-item {
  width: calc((100% - 48px) / 4);
  border-right: 1px solid var(--third-text-color);
  padding: 12px 40px;
  text-align: center;
}

.exp-cards-item:last-child {
  border: none;
}

.exp-number {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 85px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1.7px;
  color: var(--third-text-color);
}

.exp-subject {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

/** ======== BLOGS ========  */

.blog-section {
  padding: 142px 120px;
}

.blogs-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--third-bg);
  margin-bottom: 21px;
}

.blogs-text {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
  margin-bottom: 70px;
}

.blogs-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blogs-cards-item {
  width: calc((100% - 40px) / 3);
  border: 2px solid #e7e7e7;
  border-radius: 70px;
  padding: 21px 21px 40px 21px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blog-name {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: var(--third-bg);
  margin-top: 16px;
  margin-bottom: 12px;
}

.blogs-date-link {
  display: flex;
  align-items: center;
}

.blogs-date {
  margin-right: 140px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

/** ======== CONSULT ======== */

.consult-section {
  padding-bottom: 80px;
}

.consult-container {
  background: var(--third-bg);
  border-radius: 70px;
  padding: 100px 0 95px;
  text-align: center;
}

.consult-title {
  font-family: 'DM Serif Display';
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin-bottom: 9px;
}

.consult-text {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin-bottom: 31px;
}

.consult-order-btn {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  background: var(--third-text-color);
  border: 2px solid var(--third-text-color);
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  padding: 22px 34px;
}

.consult-order-btn:hover,
.consult-order-btn:focus {
  color: var(--fourth-text-color);
  border: 2px solid var(--fourth-text-color);
}

/** ======== FOOTER ======== */

.footer {
  padding: 50px 0 35px;
}

.upper-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 50px 12px 80px;
}

.logo-box {
  padding-right: 67px;
}

.logo-box-text {
  max-width: 326px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
  margin: 15px 0 10px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.pages-box {
  padding-right: 80px;
}
.pages-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 22px;
}
.pages-list {
}
.pages-item {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.pages-item:hover,
.pages-item:focus {
  cursor: pointer;
  color: var(--third-text-color);
}

.explore-box {
  padding-right: 87px;
}
.explore-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 22px;
}

.explore-list {
}
.explore-item {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.explore-item:hover,
.explore-item:focus {
  cursor: pointer;
  color: var(--third-text-color);
}

.contacts {
  max-width: 338px;
}
.contacts-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--main-text-color);
  margin-bottom: 22px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
}

.contacts-item {
  margin-bottom: 30px;
}

.contacts-item-link {
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--third-text-color);
}

.lower-footer {
  display: flex;
  justify-content: center;
  padding: 35px 200px;
  border-top: 1px solid #e5e5e5;
}
.low-foot-text {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--second-text-color);
}
.low-foot-subtext {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: var(--third-text-color);
  margin: 0 14px;
}
